*
!default-course-1-img.jpg
!default-course-2-img.jpg
!default-course-3-img.jpg
!default-course-4-img.jpg
!default-course-5-img.jpg
!default-course-6-img.jpg
!default-course-7-img.jpg
!default-course-8-img.jpg
!default-course-9-img.jpg
!default-course-10-img.jpg
!default-course-11-img.jpg
!default-course-12-img.jpg
!default-course-13-img.jpg
!default-course-14-img.jpg
!default-course-15-img.jpg
!default-course-16-img.jpg
!default-course-17-img.jpg
!default-course-18-img.jpg
!default-course-19-img.jpg
!default-course-20-img.jpg
!.gitignore
